LGOS_OPENAI_API_PREFIX=/v1
LGOS_OPENAI_API_DOCS_ENABLED=False

# Optional tracing extra
LGOS_ENABLE_LANGFUSE=False

LANGFUSE_BASE_URL=TO_BE_FILLED
LANGFUSE_PUBLIC_KEY=TO_BE_FILLED
LANGFUSE_SECRET_KEY=TO_BE_FILLED
