DEMO_API_FILES_PORT=8000
DEMO_API_FILES_BUCKET=lgos-files-api
DEMO_API_FILES_S3_ENDPOINT=https://s3.example.com
DEMO_API_FILES_AWS_ACCESS_KEY_ID=TO_BE_FILLED
DEMO_API_FILES_AWS_SECRET_ACCESS_KEY=TO_BE_FILLED
DEMO_API_FILES_AWS_DEFAULT_REGION=eu-west-1
