DEMO_OPENWEBUI_URL=http://localhost:3003
DEMO_OPENWEBUI_ADMIN_EMAIL=lgos@example.com
DEMO_OPENWEBUI_ADMIN_PASSWORD=lgos
DEMO_OPENWEBUI_OPENAI_BASE_URL=http://localhost:3000/openai_passthrough/v1
DEMO_OPENWEBUI_OPENAI_CATALOG_BASE_URL=http://localhost:3000/v1
DEMO_OPENWEBUI_API_KEY=DUMMY
