DEMO_OPENWEBUI_URL=http://localhost:3003
DEMO_OPENWEBUI_ADMIN_EMAIL=lgos@example.com
DEMO_OPENWEBUI_ADMIN_PASSWORD=lgos
OPENAI_GATEWAY_TYPE=litellm
# OPENAI_GATEWAY_BASE_URL=https://gateway.example.com
OPENAI_GATEWAY_API_KEY=sk-lgos-litellm-demo
