LGOS_OPENAI_API_PREFIX=/v1
LGOS_OPENAI_API_DOCS_ENABLED=False
LGOS_ENABLE_LANGFUSE=False

DEMO_API_OPENAI_API_KEY=TO_BE_FILLED
DEMO_API_OPENAI_BASE_URL=https://api.openai.com/v1
DEMO_API_OPENAI_MODEL=gpt-5.4-mini
DEMO_API_OPENAI_EMBEDDING_MODEL=text-embedding-3-small
DEMO_API_POSTGRES_URI=postgresql://lgos:lgos@localhost:5432/lgos
