DEMO_CHAINLIT_INFERENCE__BASE_URL=http://localhost:8000/v1
DEMO_CHAINLIT_INFERENCE__API_KEY=DUMMY
# DEMO_CHAINLIT_INFERENCE_MODEL_PREFIX=openai/
# DEMO_CHAINLIT_DISCOVERY__BASE_URL=http://localhost:8000/v1
# DEMO_CHAINLIT_DISCOVERY__API_KEY=DUMMY
DEMO_CHAINLIT_HITL_MODEL=interruptible-approval
DEMO_CHAINLIT_LOGIN_TYPE=mock
DEMO_CHAINLIT_UI_FILE=simple

CHAINLIT_APP_ROOT=src/lgos_chainlit
CHAINLIT_AUTH_SECRET=TO_BE_FILLED
DATABASE_URL=postgresql://lgos:lgos@localhost:5432/lgos

# OAUTH_GENERIC_CLIENT_ID=TO_BE_FILLED
# OAUTH_GENERIC_CLIENT_SECRET=TO_BE_FILLED
# OAUTH_GENERIC_AUTH_URL=https://pocketid.example.com/authorize
# OAUTH_GENERIC_TOKEN_URL=https://pocketid.example.com/api/oidc/token
# OAUTH_GENERIC_USER_INFO_URL=https://pocketid.example.com/api/oidc/userinfo
# OAUTH_GENERIC_SCOPES="openid profile email groups"
# OAUTH_GENERIC_NAME=PocketID
# OAUTH_GENERIC_USER_IDENTIFIER=sub
